<p>Host template</p>

<p>Host Name: <%= host.hostname %></p>
<p>Host Email: <%= host.email %></p>
<p>Host Url: <%= host.url %></p>
<p>Host Profile Image ID: <%= host.profileImageId %></p>
<p>Host Banner Image ID: <%= host.bannerImageId %></p>

<img class="banner-image" src="<%= bannerImageUrl %>" />
<img class="profile-image" src="<%= profileImageUrl %>" />
