<li class="collection-item avatar">
  <i class="material-icons circle">folder</i>
  <span class="title">
    <a href="#/events/<%= _id %>">
      <%= name %>
    </a>
    Hosted By: 
    <a href="#/hosts/<%= host %>">
      <i class="fa fa-user"></i>
      <%= host %>
    </a>
  </span>
  <p>
    <%= address %> <br>
    <%= city %>,
    <%= state %>
    <%= zip %>
  </p>
  <br>
  <p class="event-desc">
    Visit this awesome place to play trivia. We have BOGO beer deals.
    This is some dope ass shit, I mean who doesn't love trivia.
  </p>
  <p class="secondary-content">
    <%= dateTime %>
  </p>
</li>