<!-- Page Layout here -->
<div class="row">

  <div id="dashboard-nav" class="col s2">
    
    <div id="dashboard-links" class="collection" >
      <form id="listing-search">
        <div class="row">
         <div class="input-field col s12">
           <input value="" id="first_name2" type="text" class="validate">
           <label for="first_name2">Seach</label>
         </div>
       </div>
       <div class="row">
         <div class="col s12">
           <button style="width:100%;" type="submit" class="waves-effect primary-color-bg waves-light btn">Search</button> 
         </div> 
       </div>
      </form>
    <ul class="collapsible" data-collapsible="accordion">
     <li>
       <div class="collapsible-header">Date</div>
       <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
     </li>
     <li>
       <div class="collapsible-header">Range</div>
       <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
     </li>
     <li>
       <div class="collapsible-header">Category</div>
       <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
     </li>
    </ul>

    </div>
  </div>

  <div id="dashboard-page" class="col s10">

    <div class="row">

      <ul class="collection">

                <% for(var i=0; i<data.models.length; i++) {%>

          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">
              <a href="#/events/<%= data.models[i].attributes._id %>">
                <%= data.models[i].attributes.name %>
              </a>
              hosted by
              <a href="#/hosts/<%= data.models[i].attributes.host %>">
                <i class="fa fa-user"></i>
                <%= data.models[i].attributes.host %>
              </a>
            </span>
            <p>
              <%= data.models[i].attributes.address %> <br>
              <%= data.models[i].attributes.city %>,
              <%= data.models[i].attributes.state %>
              <%= data.models[i].attributes.zip %>
            </p>
            <br>
            <p class="event-desc">
              Visit this awesome place to play trivia. We have BOGO beer deals.
              This is some dope ass shit, I mean who doesn't love trivia.
            </p>
            <p class="secondary-content">
              <%= data.models[i].attributes.dateTime %>
            </p>
          </li>

        <% } %>

     </ul>

    <div>

  </div>

</div>
