<!-- Page Layout here -->
<div class="row">
  <div id="dashboard-nav" class="col s2">
    <div id="dashboard-links" class="collection" >
      <!-- Search & Filter form -->
      <form id="listing-search">
        <ul class="collapsible" data-collapsible="accordion">
          <!-- Location input -->
          <div class="row">
            <div class="input-field col s12">
              <input id="location-filter" type="text" class="validate">
              <label for="location-filter">Location</label>
            </div>
          </div>
     
          <!-- Date range dropdown filter -->
          <li>
            <div class="collapsible-header">Date Range</div>
              <div id="day-checkboxes" class="collapsible-body" style="padding:15px;">
                <br>
                <div class="row">
                  From
                  <input id="from-date-filter" type="date" name="bday">
                </div>
                <div class="row">
                  To
                <input id="to-date-filter" type="date" name="bday">
                </div>
              </div>
          </li>
          
          <!-- Distance dropdown -->
          <li>
            <div class="collapsible-header">Distance</div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="distance-radius" type="number" class="validate">
                    <label for="distance-radius" data-error="wrong" data-success="right">Miles Away</label>
                  </div>
                </div>
              </div>   
          </li>
        </ul>
        <div class="row">
          <div class="col s12">
            <button style="width:100%;" type="submit" class="waves-effect primary-color-bg waves-light btn">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
   
  <!-- Event Listing -->
  <div id="dashboard-page" class="col s10">

    <div class="row">

      <ul id="event-listings" class="collection">

                <% for(var i=0; i<data.models.length; i++) {%>

          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">
              <a href="#/events/<%= data.models[i].attributes._id %>">
                <%= data.models[i].attributes.name %>
              </a>
              hosted by
              <a href="#/hosts/<%= data.models[i].attributes.host %>">
                <i class="fa fa-user"></i>
                <%= data.models[i].attributes.host %>
              </a>
            </span>
            <p>
              <%= data.models[i].attributes.address %> <br>
              <%= data.models[i].attributes.city %>,
              <%= data.models[i].attributes.state %>
              <%= data.models[i].attributes.zip %>
            </p>
            <br>
            <p class="event-desc">
              Visit this awesome place to play trivia. We have BOGO beer deals.
              This is some dope ass shit, I mean who doesn't love trivia.
            </p>
            <p class="secondary-content">
              <%= data.models[i].attributes.dateTime %>
            </p>
          </li>

        <% } %>

     </ul>

    <div>

  </div>

</div>
